<div class="container">
  <h1>Ładunki poniżej 10 ton, pogrupowane po miesiącu wyjazdu - subquery </h1>
    <%= column_chart @light_loads %>
  <h1>
    procentowy rozkład ładunków mających pokrycie w samochodach i nie mających pokrycia
  </h1>
  <%= pie_chart @match_percentage %>

  <h1> Kierowcy z samochodami z pojemmnością powyżej 10 ton </h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <th> name </th>
        <th> Vehicles count </th>
      </thead>
      <tbody>
        <% @drivers_with_big_cars.take(20).each do |driver| %>
          <tr>
            <td><%= "#{driver.firstname} #{driver.surname }" %></td>
            <td><%= driver.big_vehicles.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h1> Job - Creator - load - driver </h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <th> job </th>
        <th> creator </th>
        <th> load </th>
        <th> driver </th>
      </thead>
      <tbody>
        <% LoadCreatorDriver.all.order(:creator).take(20).each do |load| %>
          <tr>
            <td><%= load.job %></td>
            <td><%= load.creator %></td>
            <td><%= load.load %></td>
            <td><%= load.driver %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <h1>Creator - driver - recursive table</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <th> creator </th>
        <th> driver </th>
      </thead>
      <tbody>
        <% RecursiveUser.all.order(:creator).take(20).each do |users| %>
          <tr>
            <td><%= users.creator %></td>
            <td><%= users.driver %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h1>Tabela podatkowa - Union </h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <th> type </th>
        <th> name </th>
        <th> tax number </th>
      </thead>
      <tbody>
        <% TaxNumber.all.take(20).each do |t| %>
          <tr>
            <td><%= t.kind %></td>
            <td><%= t.name %></td>
            <td><%= t.tax_number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
